body {
    background-image: url("../img/sfondi/sfondo1.gif");
    background-size: cover;
}

/*-------*/
#button1 {
    background-color: rgba(255,255,255,0.3);
    color: white;
    width: 400px;
    height: 50px;
    padding: 400px, 400px;
    top: 120px;
    left: 350px;
    position:absolute;
    cursor: pointer;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#button1:hover {
    transform: scale(1.2);
    background-color: rgba(255,255,255,0.3);
}
#button1:active {
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.3);
}
/*------------*/
#button2 {
    background-color: rgba(255,255,255,0.3);
    color: white;
    width: 50px;
    height: 50px;
    top: 50px;
    left: 50px;
    position:absolute;
    cursor: pointer;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
#button2:hover {
    transform: scale(1.2);
    background-color: rgba(255,255,255,0.3);
}
#button2:active {
    transform: scale(1.1);
    background-color: rgba(255,255,255,0.3);
}